.productMessage {
  border-radius: 5px;
  margin: 10px;
  background-color: lightgray;
  padding: 15px;
  animation: slideInFromTop 2s ease-in-out 1;
  background-image: linear-gradient(#a1ffce, #faffd1);
  /* animation: 1s ease-in-out 0s 1 slideInFromTop; */
}

.productMessage__addText {
  display: flex;
  justify-content: space-between;
}

.checkIcon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: green;
}

@keyframes slideInFromTop {
  /* 0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  } */
  /* 0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  } */
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(100px);
  }
}
